.container {
  transition: 0.2s ease-in-out;
  & + div {
    margin-left: 1.25rem;
  }
  // background: orange;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  gap: 0.35rem;
}

.selectedPokemon {
  position: relative;
  margin-top: -5rem;
}
